!.gitignore
!.gitattributes
*.DS_Store
*.idea
*.svn
*.git
.env
.venv/
/runtime
/log
/vendor
/data/install.lock
/static/upload
!composer.json
/composer.lock
/config/dingtalk.php
/config/mail.php
/thinkphp
/application
/extend
